@import "tailwindcss";

:root {
   --background: #0d0d0d;
   --foreground: #2d2d2d;
   --logo-duration: 2s;
   --logo-ease: cubic-bezier(0.22, 1, 0.36, 1);
}

@layer utilities {
   .flex-center {
      @apply flex justify-center items-center;
   }
}

@keyframes shake {
   0% {
      transform: translateX(0);
   }
   15% {
      transform: translateX(-3px);
   }
   30% {
      transform: translateX(3px);
   }
   45% {
      transform: translateX(-3px);
   }
   60% {
      transform: translateX(3px);
   }
   75% {
      transform: translateX(-2px);
   }
   85% {
      transform: translateX(2px);
   }
   100% {
      transform: translateX(0);
   }
}

.animate-shake {
   animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes slide {
   0% {
      transform: translateX(-100%);
   }
   30% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(0);
   }
   70% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(150%);
   }
}

.animated-logo-wrapper {
   width: 255px;
   height: 24px;
   overflow: hidden;
}

.animated-logo {
   animation: slide var(--logo-duration) var(--logo-ease) infinite;
   display: inline-block;
}

@theme inline {
   --color-background: #0d0d0d;
   --color-foreground: #2d2d2d;
   --color-primary: #ffffff;
   --color-secondary: #767676;
   --color-tertiary: #cccccc;

   --color-theme-bad: #fc3d3d;
   --color-theme-okay: #ff7024;
   --color-theme-good: #ffc665;
   --color-theme-great: #b3f5ff;
   --color-theme-perfect: #9afce7;

   --font-sans: var(--font-geist-sans);
   --font-headline: var(--font-swiss-721-extended);

   --text-sm: 13px;
   --text-base: 16px;
   --text-md: 20px;
   --text-2xl: 57px;

   --animate-shake: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
   --animate-slide: slide var(--logo-duration) var(--logo-ease) infinite;

   --radius-base: 12px;
}

body {
   background: var(--background);
   color: var(--foreground);
   font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
