@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #171717;
}

@layer utilities {
   .flex-center {
      @apply flex justify-center items-center;
   }
}

@theme inline {
   --color-background: #0d0d0d;
   --color-foreground: #2d2d2d;
   --color-primary: #ffffff;
   --color-theme-speed: #ffc665;
   --font-sans: var(--font-geist-sans);
   --font-headline: var(--font-swiss-721-extended);
}

/* @media (prefers-color-scheme: dark) {
   :root {
      --background: #0a0a0a;
      --foreground: #ededed;
   }
} */

body {
   background: var(--background);
   color: var(--foreground);
   font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
